@model object

<!DOCTYPE html>

<html>
<head>
    <title>Nexure services</title>
</head>
<body>
<div>
    <h2>Welcome to Nexure web services </h2>
    <p>
        <h4>The FE Counting  service is available on the following endpoint:  <a href="https://localhost:44357/countService">https://localhost:44357/countService</a></h4>
        Request verb: <strong>POST</strong><br />
        Request body example: <br />
        {<br />
        &nbsp&nbsp "scooters": [11, 15, 13],<br />
        &nbsp&nbsp "C": 9,<br />
        &nbsp&nbsp "P": 5<br />
        }
    </p>
    <h4> Please <a href="https://curl.haxx.se/download.html">cURL</a> or any other tool such <a href="https://www.getpostman.com/downloads/">Postman</a> to call the interact with the service.</h4>
</div>
</body>
</html>